[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
steam = "*"
aiohttp = "*"
pypeln = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
